version: "3.9"

volumes:
  psql-data:

services:
  db:
    build: db
    environment:
      POSTGRES_PASSWORD: root
    volumes:
      - psql-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
  worker:
    build: 
      context: .
      dockerfile: cmd/worker/Dockerfile
  server:
    build:
      context: .
      dockerfile: cmd/server/Dockerfile
    ports:
      - 8080:8080